[General]
device = cpu # cpu or cuda
dtype = float
threads = 8
out_dir = xxx

[Preprocess]
diann_dir = ./diann/ # Usually does not need to be changed
library_path = xxx.tsv
mzml_path = 1.mzML;2.mzML # .mzML file is allowed, use ; to seperate multiple files

[Database]
batch_size = 1024

[Infer]
checkpoint_path = xxx.pt
fdr = 0.01

